<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$Title$</title>
</head>
<body>
    <h3>회원목록</h3>

<!--    <div th:each="member : ${members}">-->
<!--        <p th:text="${member.memberId}"></p>-->
<!--        <p th:text="${member.nickname}"></p>-->
<!--        <p th:text="${member.email}"></p>-->
<!--        <p th:text="${member.pw}"></p>-->
<!--        <p th:text="${member.cdate}"></p>-->
<!--        <p th:text="${member.udate}"></p>-->
<!--        <hr>-->
<!--    </div>-->
</body>
</html>