<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$Title$</title>
</head>
<body>
    <h3>text/utext</h3>
    <p th:text="${hello}">반갑습니다</p>
    <p th:utext="${uhello}">반갑습니다</p>

    <p>[[${hello}]]</p> <!-- excape처리 -->
    <p>[(${hello})]</p> <!-- unexcape처리 -->

    <p th:text="2>3"></p>
    <p th:text="2<3"></p>
    <p th:text="2==3"></p>
    <p th:text="2+1+3+5"></p>
    <p th:text="2>3 ? '2가크다' : '3이크다'"></p>
    <p th:text="3>2 ? '3이크다' :_"></p>

    <div th:with="name='홍길동', name2='null', num1=10,num2=20">
        <p th:text="${name} ?: '홀길순'"></p>
        <p th:text="${name2} ?: '홍길순'"></p>
        <p th:text="${num1} > ${num2} ? '크다' : _"></p>
    </div>

    <div>
        <p><span>이름</span><span th:text="${person1.name}"></span></p>
        <p><span>나이</span><span th:text="${person1.age}"></span></p>
        <hr>
        <p><span>이름</span><span th:text="${person1['name']}"></span></p>
        <p><span>나이</span><span th:text="${person1['age']}"></span></p>
        <hr>
        <p><span>이름</span><span th:text="${person1.getName()}"></span></p>
        <p><span>나이</span><span th:text="${person1.getAge()}"></span></p>
        <hr>
    </div>

    <h3>PersonList</h3>
    <div>
        <th:block th:each="person : ${personList}">
            <p><span>이름</span><span th:text="${person.name}"></span></p>
            <p><span>나이</span><span th:text="${person.age}"></span></p>
            <hr>
        </th:block>
    </div>

    <h3>PersonMap</h3>
    <div>
        <th:block th:each="person ,status : ${personMap}">
            <p><span>이름</span><span th:text="${person.value.name}"></span></p>
            <p><span>나이</span><span th:text="${person.value.age}"></span></p>
            <hr>
        </th:block>
    </div>

    <h3>PersonSet</h3>
    <div>
        <th:block th:each="person ,status : ${personSet}">
            <p><span>이름</span><span th:text="${person.name}"></span></p>
            <p><span>나이</span><span th:text="${person.age}"></span></p>
            <hr>
        </th:block>
    </div>

    <h3>50이하 출력</h3>
    <div th:each="person : ${personList}">
        <th:block th:unless="${person.age >= 50}">
            <p><span>이름</span><span th:text="${person.name}"></span></p>
            <p><span>나이</span><span th:text="${person.age}"></span></p>
            <hr>
        </th:block>
    </div>

    <h3>switch</h3>
    <div th:each="person : ${personList}">
        <th:block th:switch="${person.age}">
            <p th:text="${person.name}"></p>
            <p th:case="50" th:text="'50입니다.'"></p>
            <p th:case="*" th:text="'50이아닙니다.'"></p>
        </th:block>
    </div>

</body>
</html>