<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품상세</title>
</head>
<body>
    <div class="product-wrap">
        <h3>상품상세</h3>
        <form method="post" action="">
            <div>
                <div><label for="">상품아이디</label><input type="text" disabled></div>
                <div><label for="">상품명</label><input type="text" disabled></div>
                <div><label for="">수량</label><input type="text" disabled></div>
                <div><label for="">가격</label><input type="text" disabled></div>
                <button type="button" id="editBtn">수정</button>
                <button type="button" id="delBtn">삭제</button>
                <button type="button" id="ListBtn">목록</button>
            </div>
        </form>
    </div>

    <script>
        editBtn.addEventListener('click', e=> {
            location.href = `/product/{1}/edit`;
        })
        delBtn.addEventListener('click', e=> {
            location.href = `/product/{1}/del`;
        })
        ListBtn.addEventListener('click', e=> {
            location.href = `/product/all`;
        })

    </script>
</body>
</html>